div #headers{
    padding: 30px;
    margin: 0px;
}

div #nav, #banner{
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.center-title {
    text-align: center;
    position: absolute;
    font-size: 4vw;
    width: 100%;
  }

  picture, img {
    max-width: 100%;
    width: 100%;
    height: 300px;
    display: block;
  }

  h1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  h2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .fondo-circle{
      background-color: rgb(97, 93, 93);

  }
  .fondo-rectagle{
    background-color: rgb(129, 128, 133);

    

}
.fondo-blanco{
    background-color: rgb(110, 109, 114);
    margin: 5px 5px 5px 5px;
    
    
   
}